.header{
    padding: 20px;
}
.container{
    margin: 1%;
}
  
.example-card{
    margin: 1%;

}
.example-header-image {
background-size: cover;
}

.example-header-image img {
    border-radius: 60px;
}

mat-card-subtitle a{
    text-decoration: none;
    color: white;
}

mat-chip a {
    text-decoration: none;
    color: white;
}

mat-chip:hover{
    cursor: pointer;
}

/* Pop container */
.pop-container {
    
}